@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  @apply flex flex-col items-center;
}


header {
  @apply flex gap-[17.5em] pt-[8em] pb-[2em];
}

.head-text { 
  @apply text-white w-[300px] text-[25px] p-[10px];
}


.mode-toggle { 
  @apply text-[1.5em] border-none text-white cursor-pointer
 bg-none shadow-none outline-none;
}

.sun{
  @apply  w-[33px] h-[33px] invert brightness-0;
}

.moon{
  @apply  w-[33px] h-[33px]  invert brightness-0;
}

.task-area {
  @apply flex flex-col gap-[3em] items-center text-inherit 
  border-none bg-none pb-[50px];
}

.input-area {
@apply flex flex-row gap-[2em] items-center 
w-[610px] h-[65px] pl-[22px] rounded-[5px] bg-[#fff] text-left; 
}

.input-area .circle{
  @apply p-[6px]
}

input {
 @apply border-none outline-none w-full text-black;
}

ul {
@apply list-none flex flex-col justify-center items-center;

}

li {
@apply flex justify-center items-center 
gap-[2em] py-[15px] px-[25px] w-[615px];
}

.circle {
@apply w-[15px] h-[15px] text-[#fff] text-center
rounded-full flex justify-center items-center
cursor-pointer transition-all duration-300 ease-linear;
}

.circle .completed{
@apply text-white border-none;
}

.checked {
  @apply border-none;  
background: radial-gradient(circle, #55ddff, #c058f3);
}

.check {
@apply w-[10px] h-[10px] invert brightness-0
}

.task-text {
 @apply flex-grow text-left cursor-pointer
  transition-colors duration-300;
}

.completed {
@apply line-through text-gray-500;
}

.delete-btn { 
  @apply text-gray-500;
  font-weight: 500;
  transform: scaleX(1.6); 
  display: inline-block; 
}

.delete-btn:hover {
@apply scale-100;
}

.footer {
@apply flex items-center justify-center gap-[5em] h-[65px] 
rounded-b-[5px] shadow-[1px_1px_1px_1px_#efeded] w-[615px];
}



.new-options{
  display: none
}

.options {
  @apply flex items-center gap-4;
}

.options button,
.clear-btn {
@apply border-none bg-none text-base 
text-gray-500 cursor-pointer;
}

.options button:hover {
@apply text-blue-500;
}

.active-filter {
@apply text-blue-500 font-bold;

}

.light {
@apply bg-white bg-no-repeat h-screen text-[rgb(112,111,111)];
background-image: url("./images/bg-desktop-light.jpg");
background-size: 100%;
}

.light .input-area {
@apply bg-white border-[2px] border-[#efeded];
}

.light .circle{
  @apply border-1 border-[#C8CBE7]
}


.light input::placeholder {
  @apply text-[#9495a5];
}

.light li {
 @apply bg-white text-[#494c6b] border-[0.5px] border-[#efeded] shadow-[1px_1px_1px_1px_#efeded];

}

.light .footer {
  @apply bg-white border-[1px] border-[#efeded]
 }

.dark {
@apply bg-black bg-no-repeat h-screen;
background-image: url("./images/bg-desktop-dark.jpg");
background-size: 100%;

}

.dark .input-area {
@apply bg-[#25273d] border-[2px] border-[#393a4b];
}

.dark input {
@apply bg-[#25273d] text-[#fff];

}

.dark .circle{
  @apply border-1 border-[#393A4B]
}

.dark ul li {
 @apply bg-[#25273d] border-b-[1px] border-b-[#393a4b] text-white;
}

.dark .footer {
  @apply bg-[#25273d] text-[#5b5e7e] shadow-none
}

.dark p {
  @apply text-[#5b5e7e]
}

/* Mobile */

@media (max-width: 640px) {
  
  header {
  @apply flex gap-[12em] pt-[10px] pb-[10px];
}

.head-text { 
  @apply text-white w-auto text-[15px] ;
}


.mode-toggle { 
  @apply text-[1.5em] border-none text-white cursor-pointer
 bg-none shadow-none outline-none;
}


.dark {
@apply bg-black bg-no-repeat h-screen;
background-image: url("./images/bg-desktop-dark.jpg");
background-size: 100% 30%;

}

.light {
@apply bg-white bg-no-repeat h-screen text-[rgb(112,111,111)];
background-image: url("./images/bg-desktop-light.jpg");
background-size: 100% 30%;
}

  .sun, .moon {
    @apply w-[20px] h-[20px];
  }

.task-area {
  @apply flex flex-col gap-[3em] items-center text-inherit 
  border-none bg-none pb-[50px];
}


  .input-area {
@apply flex flex-row gap-[2em] items-center 
justify-center w-[300px] h-[40px]  rounded-[5px] bg-[#fff] text-left; 
}

ul {
@apply list-none flex flex-col justify-center items-center w-[300px];

}

li {
@apply flex justify-center items-center 
gap-[2em] py-[7px] px-[25px] w-[300px];
}

.footer{
@apply flex items-center justify-center gap-[2em] h-[40px] rounded-none 
shadow-[1px_1px_1px_1px_#efeded] w-[300px];
}
 

.new-options{
  display: block;
  @apply flex items-center justify-center gap-[2em] h-[40px] 
rounded-b-[5px] shadow-[1px_1px_1px_1px_#efeded] w-[300px];
}
.light .new-options {
  @apply bg-white border-[1px] border-[#efeded] 
 }

 .dark .new-options {
  @apply bg-[#25273d] text-[#5b5e7e] shadow-none border-t-[0.5px] border-[#686868]
}
.options{
  display: none;
}
}

