@import "tailwindcss";


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.checked {
  background: radial-gradient(circle, #55ddff, #c058f3);
  color: #d1d2da;

}

.delete-btn{
  color: grey;
}

.options {
  display: flex;
  align-items: center;
  gap: 1em;
}

.options button,
.clear-btn {
  border: none;
  background: none;
  font-size: medium;
  color: gray;
  cursor: pointer;
}

.options button:hover {
  color: blue;
}

.active-filter {
  color: #3a7bfd;
  font-weight: bold;
}

.light {
  background-color: #fff;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  color: rgb(112, 111, 111);
}

.light .input-area {
  background: #fff;
  border: 2px solid #efeded;
}

.light input::placeholder {
  color: #9495a5;
}

.light li {
  background: #fff;
  color: #494c6b;
  border: 0.5px solid #efeded;
  box-shadow: 1px 1px 1px 1px #efeded;
}

.light .footer {
  background: #fff;
  border: 1px solid #efeded;
}

.dark {
  background-color: #121212;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.dark .input-area {
  background: #25273d;
  border: 2px solid #393a4b;
}

.dark input {
  background: #25273d;
  color: #9495a5;
}

.dark ul li {
  background: #25273d;
  border-bottom: 1px solid #393a4b;
  color: #fff;
}

.dark .footer {
  background: #25273d;
  color: #5b5e7e;
  box-shadow: none;

}

.dark p {
  color: #5b5e7e;
}
