@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  display: flex;
  gap: 10.6em;
  padding: 8em 0 2em 0;
}

.head-text {
  color: white;
  width: 300px;
  padding: 10px;
}

.light {
  background-color: #fff;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  color: rgb(112, 111, 111);
  border: none;
}

.dark {
  background-color: #121212;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.mode-toggle {
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.dark input {
  margin-bottom: 20px;
  background: rgba(8, 2, 74, 0.171);
  border: none;
}

.light input {
  margin-bottom: 20px;
  background-color: #fff;
  border-style: #fff;

}

input {
  padding: 15px 25px;
  width: 450px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  /* background-color: inherit; */
  background: #0719646e;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  width: 450px;
  background: rgba(70, 87, 158, 0.43);
  border: none;

  color: white;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.circle:hover {
  transform: scale(1.1);
  border-style: none;
  border: 2px solid #aaa;
  /* background: rgb(0, 153, 255); */
}

.checked {
  background-color: rgb(197, 192, 205);
  color: #fffffff3;
  text-decoration: none;
  background: rgb(0, 153, 255);
}

.task-text {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: grey;
}

.delete-btn:hover {
  transform: scale(1.1);
}

.dark,
.light footer {
  color: grey;
}

.footer {
  display: flex;
  gap: 4em;
  /* width: 500px; */
  align-items: center;
  justify-content: center;
  padding: 0 4.6px;
  /* padding-top: 20px; */
  height: 50px;
  background: #46579e6e;

}

.options {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-style: none;
}

.options button,
.clear-btn {
  border-style: none;
  background: none;
  font-size: medium;
  color: gray;
}

/*span{
  padding-right: 9.5em;
}*/