@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  display: flex;
  gap: 15em;
  padding: 8em 0 2em 0;
}

.head-text {
  color: white;
  width: 300px;
  padding: 10px;
}


.mode-toggle {
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  background: none; 
  box-shadow: none;
  outline: none;
}

.task-area {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  color: inherit;
  border: none;
  background: none;
  padding-bottom: 50px;
}

.input-area {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 18px 200px;
  border-radius: 5px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  width: 595px;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid #c8cbe7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checked {
  background: radial-gradient(circle, #55ddff, #c058f3);
  color: #d1d2da;
}

.task-text {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: grey;
}

.delete-btn:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  height: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 1px 1px #efeded;
  width: 595px;
}

.options {
  display: flex;
  align-items: center;
  gap: 1em;
}

.options button,
.clear-btn {
  border: none;
  background: none;
  font-size: medium;
  color: gray;
  cursor: pointer;
}

.options button:hover {
  color: blue;
}

.active-filter {
  color: #3a7bfd;
  font-weight: bold;
}

.light {
  background-color: #fff;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  color: rgb(112, 111, 111);
}

.light .input-area {
  background: #fff;
  border: 2px solid #efeded;
}

.light input::placeholder {
  color: #9495a5;
}

.light li {
  background: #fff;
  color: #494c6b;
  border: 0.5px solid #efeded;
  box-shadow: 1px 1px 1px 1px #efeded;
}

.light .footer {
  background: #fff;
  border: 1px solid #efeded;
}

.dark {
  background-color: #121212;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.dark .input-area {
  background: #25273d;
  border: 2px solid #393a4b;
}

.dark input {
  background: #25273d;
  color: #9495a5;
}

.dark ul li {
  background: #25273d;
  border-bottom: 1px solid #393a4b;
  color: #fff;
}

.dark .footer {
  background: #25273d;
  color: #5b5e7e;
  box-shadow: none;

}

.dark p {
  color: #5b5e7e;
}
